<!DOCTYPE html>
<html>

<head>
    <title>Rnyoo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="rny-home">
        <div class="container">
            <div class="rny-home-logoandsubtitle">
                <a href="#"><img src="images/rny_home_logo.png"></a>
                <br>
                <span class="subtitle">Share. Discover. <b>Renew</b></span>
            </div>
            <div class="rny-home-connect-block">
                <ul>
                    <li><a href="https://www.facebook.com/Rnyoo-220849128296067" target="_blank"><i class="fa fa-facebook fa-icon-align" aria-hidden="true"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/communities/116794355079467123192" target="_blank"><i class="fa fa-google-plus fa-icon-align" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/rnyoosocial" target="_blank"><i class="fa fa-twitter fa-icon-align" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:support@rnyoo.com" target="_blank"><i class="fa fa-envelope-o fa-icon-align" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCxHyHpsRxmfdcZKje0jx4Yg" target="_blank"><i class="fa fa-youtube fa-icon-align" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="rny-home-headeAnnddescription">
                <div class="home-wrapper">
                    <h1 class="home-header">A Picture is worth a thousand words.<br>Now… Hear, Read, See them..</h1>
                    <p class="home-header-description">Share the stories within your pictures by adding hotspots to them and adding and enriching contextual content. Make them come alive.</p>
                    <div class="rny-appdownload">
                        <a href=""><img src="images/play_icon.png"></a>
                        <a href=""><img src="images/ios_icon.png"></a>
                    </div>
                </div>
                <div class="home-image-wrapper">
                    <img src="images/mobile1.png">
                </div>
            </div>
        </div>
    </div>
    <div class="rny-sharing-content">
        <a href="/posts"><img src="images/channels_symbol.png">
            <br><span class="rny-green rny-sharing-text">See what the world is<br> sharing on Rnyoo</span></a>
    </div>
    <div class="rny-home-description container">
        <h1 class="howIworks-text">HOW IT WORKS</h1>
        <!--section1 desktop and mobile-->
        <div class="hotspot-description-container">
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-image">
                <img src="images/section1_image.png" width="90%">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-description-content">
                <h1 class="rny-blue hotspot-heading">Add hotspots to your image</h1>
                <p class="hotspot-description rny-midgrey">Want to highlight an area, object, person or context in your image? Just add a hotspot to it with a label.Adding them while zooming in makes them “to the point”.</p>
            </div>
        </div>
        <!--section1 desktop and mobile end-->
        <!--section2 (this will visible in desktop not on mobile)-->
        <div class="hotspot-description-container rny-home-desk-view-block">
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-description-content">
                <h1 class="rny-green hotspot-heading">Enrich your hotspots. Make them interesting.</h1>
                <p class="hotspot-description rny-midgrey">Add text or audio recoridng to each of your hotspots. Not enough? No Problem. Add media to them like URL, Images, Video or documents. Make them shine.</p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-image">
                <img src="images/section2_image.png" width="60%">
            </div>
        </div>
        <!--section2 desktop end-->
        <!--section2 (this will be visible in mobile not in desktop)-->
        <div class="hotspot-description-container rny-home-mobile-view-block">
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-image">
                <img src="images/section2_image.png" width="60%">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-description-content">
                <h1 class="rny-green hotspot-heading">Enrich your hotspots. Make them interesting.</h1>
                <p class="hotspot-description rny-midgrey">Add text or audio recoridng to each of your hotspots. Not enough? No Problem. Add media to them like URL, Images, Video or documents. Make them shine.</p>
            </div>
        </div>
        <!--section2 end-->
        <!--section3 this will visible mobile and desktop-->
        <div class="hotspot-description-container">
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-image">
                <img src="images/section3_image.png" width="55%">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-description-content">
                <h1 class="rny-blue hotspot-heading">Sharing is everything. Share Privately or Publicly.</h1>
                <p class="hotspot-description rny-midgrey">Share your hotspots “selectively” with your friends and groups on Rnyoo. And they would see them on their Private Feed.
                    <br>Want to show off your content outside your network? Post it to Public feed so that everyone can engage on it on Rnyoo. </p>
            </div>
        </div>
        <!--section3 end-->
        <!--section4 (this will visible indesktop not in mobile)-->
        <div class="hotspot-description-container rny-home-desk-view-block-last">
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-description-content">
                <h1 class="rny-green hotspot-heading">Create engaging Posts.Make them pop!</h1>
                <p class="hotspot-description rny-midgrey">Make your posts come alive with adding info like description, hashtag, audio and other media on it.
                    <br>Tag your posts to our long list of channels. Channels help it show on search.Add your pictures location.
                    <br>Want to set the post to autoexpire? Set an expiry time and date on it.Isn’t that amazing.</p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-image">
                <img src="images/section4_image.png" width="60%">
            </div>
        </div>
        <!--section4 desktop end-->
        <!--section4 (this will visible indesktop not in mobile) -->
        <div class="hotspot-description-container rny-home-mobile-view-block-last">
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-image">
                <img src="images/section4_image.png" width="60%">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-description-content">
                <h1 class="rny-green hotspot-heading">Create engaging Posts.Make them pop!</h1>
                <p class="hotspot-description rny-midgrey">Make your posts come alive with adding info like description, hashtag, audio and other media on it.
                    <br>Tag your posts to our long list of channels. Channels help it show on search.Add your pictures location.
                    <br>Want to set the post to autoexpire? Set an expiry time and date on it.Isn’t that amazing.</p>
            </div>
        </div>
        <!--section4 mobile end-->
        <!--section5 end-->
        <div class="hotspot-description-container">
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-image">
                <img src="images/section5_image.png" width="70%">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-description-content" style="padding-top: 0px !important;">
                <h1 class="rny-blue hotspot-heading">Create your private collection.Save it to your Vault.</h1>
                <p class="hotspot-description rny-midgrey">We know not all is for sharing. Or maybe just not yet.Dont want to share yet?
                    <br>Want to create your personal hotspot enabled picture collection?Want to sync back between devices with your collection?
                    <br>Save them to your Vault.The Vault is a space for you by you.</p>
            </div>
        </div>
        <!--section5 end-->
        <!--section6-->
        <div class="hotspot-description-container rny-home-desktop-view-block-last2">
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-description-content" style="padding-top: 0px !important;">
                <h1 class="rny-green hotspot-heading">Engage with content.Discover the unknown.</h1>
                <p class="hotspot-description rny-midgrey">Engage with your private and public posts and be a part if the story.
                    <br>Comment and like posts.Comment individually on hotspots and spark a conversation with the publisher.
                    <br>Find something interesting on the picture?Place a question and ask the publisher.Just like hotspots.</p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-image">
                <img src="images/section6_image.png" width="70%">
            </div>
        </div>
        <!--section6 end-->
        <!--section6 (this will visibleonly in mobile not in desktop)-->
        <div class="hotspot-description-container rny-home-mobile-view-block-last2">
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-image">
                <img src="images/section6_image.png" width="70%">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-description-content">
                <h1 class="rny-green hotspot-heading">Engage with content.Discover the unknown.</h1>
                <p class="hotspot-description rny-midgrey">Engage with your private and public posts and be a part if the story.
                    <br>Comment and like posts.Comment individually on hotspots and spark a conversation with the publisher.
                    <br>Find something interesting on the picture?Place a question and ask the publisher.Just like hotspots.</p>
            </div>
        </div>
        <!--section6 end-->
        <!--section7 (visible both mobile and desktop)-->
        <div class="hotspot-description-container">
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-image">
                <img src="images/section7_image.png" width="60%">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 hotspot-description-content">
                <h1 class="rny-blue hotspot-heading">Why have friends and not speak to them?</h1>
                <p class="hotspot-description rny-midgrey">We understand that friends need to talk. There is a lot more communication one to one than just content.
                    <br>So we introduced Rnyoo Messaging.And the best part is, it’s encrypted.</p>
            </div>
        </div>
        <!--section7 end-->
    </div>
    <div class="footer-block">
        <div class="footer-connect-block">
            <h1 class="footer-h1-cls">CONNECT</h1>
            <ul>
                <li><a href="https://www.facebook.com/Rnyoo-220849128296067" target="_blank"><i class="fa fa-facebook fa-icon-align" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/u/0/communities/116794355079467123192" target="_blank"><i class="fa fa-google-plus fa-icon-align" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/rnyoosocial" target="_blank"><i class="fa fa-twitter fa-icon-align" aria-hidden="true"></i></a></li>
                <li><a href="mailto:support@rnyoo.com" target="_blank"><i class="fa fa-envelope-o fa-icon-align" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCxHyHpsRxmfdcZKje0jx4Yg"><i class="fa fa-youtube fa-icon-align" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="rny-about-block">
            <ul>
                <li><a href="/download" target="_blank">DOWNLOAD</a></li>
                <li><a href="/start" target="_blank">GETTING STARTED</a></li>
                <li><a href="mailto:business@rnyoo.com" target="_blank">BUSINESS</a></li>
                <li><a href="/privacy_policy" target="_blank">PRIVACY</a></li>
                <li><a href="/terms_of_use" target="_blank">TERMS OF USE</a></li>
                <li><a href="mailto:support@rnyoo.com" target="_blank">SUPPORT</a></li>
                <li><a href="/about" target="_blank">ABOUT</a></li>
            </ul>
        </div>
        <div class="rny-copyright-block">
            <ul>
                <li><a href="#">&#169; 2017 Rnyoo Inc.</a></li>
                <li><a href="#">SAN JOSE CA</a></li>
            </ul>
        </div>
    </div>
</body>

</html>
